body {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  min-width: 960px;
}

h1 {
  font-size: 24px;
  margin: 0;
  line-height: 1;
  color: #ffffff;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
}

h2 {
  font-size: 30px;
  margin: 0;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
}

h4 {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
}

h5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  margin: 20px 0 14px 22px;
  width: 180px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

nav label,
nav a,
header a {
  font-size: 17px;
}

nav {
  font-size: 0px;
  background-color: #293449;
}

.logo-nav,
.search,
.bookmarks,
.cart,
.purchase {
  display: inline-block;
  vertical-align: top;
}

.logo-nav {
  width: 220px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-link:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo-link:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo-nav h1{
  display: block;
  padding: 10px 0 8px 0;
}

.search {
  position: relative;
  width: 270px;
}

.icon-search {
  position: absolute;
  left: 19px;
  top: 12px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -163px -5px;
  opacity: 0.3;
}

input[type="search"] {
  width: 220px;
  height: 18px;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  border: none;
  padding: 12px 2px 12px 48px;
  background-color: #293449;
}

input[type="search"]::-webkit-input-placeholder {
  color:#ffffff;
}

input[type="search"]::-moz-placeholder {
  color:#ffffff;
}

input[type="search"]:-moz-placeholder {
  color:#ffffff;
}

input[type="search"]:-ms-input-placeholder {
  color:#ffffff;
}

.search input[type="search"]:focus {
  outline: none;
  background-color: #ffffff;
}

input[type="search"]:focus + .icon-search {
  background: url("../img/sprite.png") no-repeat -253px -5px;
  opacity: 1;
}

input[type="search"]:hover + .icon-search {
  opacity: 1;
}

.bookmarks,
.cart {
  position: relative;
  width: 150px;
  padding: 12px 0 7px 0;
}

.bookmarks:hover,
.cart:hover,
input[type="search"]:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  background-color: #161d29;
  opacity: 0.7;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.6;
}

.fill {
  background-color: #ee3643;
}

.bookmarks a {
  padding-left: 45px;
}

.bookmarks::before {
  position: absolute;
  left: 19px;
  top: 12px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -32px -5px;
  opacity: 0.3;
}

.cart a {
  padding-left: 49px;
}

.cart::before {
  position: absolute;
  left: 19px;
  top: 12px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -5px -5px;
  opacity: 0.3;
}

.purchase {
  width: 150px;
  background-color: #63a63e;
  text-align: center;
}

.purchase:hover {
  background-color: #5fbb2d;
}

.purchase:active {
  opacity: 0.7;
}

.purchase a {
  display: block;
  padding: 12px 0 12px 0;
}

header {
  font-size: 0px;
  background-color: #f2f6f8;
  padding: 46px 0 58px 0;
}

.market-description,
.contacts-header,
.user,
.second-navigation,
.second-navigation li {
  display: inline-block;
  vertical-align: top;
}

.market-description {
  width: 320px;
  font-size: 16px;
  line-height: 23px;
  color: #ee434f;
}

.market-description p {
  font-style: italic;
  margin: 2px 50px 0 52px;
}

.contacts-header {
  width: 310px;
  font-size: 14px;
  margin-top: 13px;
}

.contacts-header p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-left: 10px;
}

.telephone {
  position: relative;
  font-size: 21px;
  line-height: 1;
  color: #e9292a;
  border: 2px solid #ffffff;
  padding: 10px 50px 10px 70px;
}

.telephone::before {
  position: absolute;
  left: 13px;
  top: 13px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -133px -5px;
}

.user {
  width: 310px;
  text-align: right;
}

.enter,
.registration {
  display: inline-block;
  vertical-align: baseline;
  font-size: 21px;
  line-height: 1;
  padding: 12px 25px;
  background-color: #ffffff;
  color: #000000;
  margin-left: 10px;
}

.enter:hover,
.registration:hover {
  color: #ee3643;
}

.enter:active,
.registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter {
  padding-left: 50px;
  position: relative;
}

.enter::before {
  position: absolute;
  left: 19px;
  top: 13px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -103px -5px;
  opacity: 0.3;
}

.enter:hover::before {
  opacity: 1;
}

.enter:active::before {
  opacity: 0.3;
}

.purchases,
.cabinet {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.purchases:hover,
.cabinet:hover {
  color: #ee3643;
}

.purchases:active,
.cabinet:active {
  color: #bbc2cb;
}

.cabinet {
  margin-right: 72px;
}

.purchases {
  margin-right: 32px;
  position: relative;
}

.purchases::after {
  position: absolute;
  right: -20px;
  bottom: 7px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 190px;
  text-align: center;
  font-size: 21px;
  line-height: 1;
  padding: 12px 25px 12px 45px;
  background-color: #ffffff;
  color: #000000;
  margin-left: 10px;
  margin-bottom: 8px;
}

.logout {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 40px;
  height: 45px;
  background-color: #ffffff;
}

.logout::before {
  position: absolute;
  right: 12px;
  top: 14px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -222px -5px;
  opacity: 0.3;
}

.login::before {
  position: absolute;
  left: 15px;
  top: 14px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -280px -5px;
  opacity: 0.3;
}

.login:hover::before,
.logout:hover::before {
  opacity: 1;
}

.login:active::before,
.logout:active::before {
  opacity: 0.3;
}

.login:active {
  color: rgba(0, 0, 0, 0.3);
}

.second-navigation {
  width: 940px;
  background-color: #32425c;
  margin-top: 25px;
  font-size: 0px;

  border-bottom: 5px solid #293449;
}

.second-navigation ul {
  padding: 0 25px;
  margin: 0;
}

.second-navigation a {
  display: inline-block;
  vertical-align: top;
  padding: 20px 30px 18px 30px;
}

.second-navigation a:hover {
  background-color: #293449;
}

.second-navigation a:active {
  background-color: #1d2739;
    box-shadow: 0 3px 0 0 #1d2739;
  color: #707782;
}

.breadcrumps {
  margin: 21px 0;
}

.breadcrumps ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.breadcrumps li,
.breadcrumps a {
  display: inline-block;
  vertical-align: top;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.breadcrumps a,
.breadcrumps li:last-child {
  padding-left: 37px;
}

.breadcrumps li:nth-child(1n+2) {
  position: relative;
}

.breadcrumps li:nth-child(1n+2)::before {
  position: absolute;
  left: 12px;
  top: 0px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -334px -5px;
}

.breadcrumps .home {

  padding-left: 0px;
  width: 18px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat -310px -2px;
}

.market-section {
  padding: 28px 0 32px 28px;
  width: 912px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.market-section h2 {
  display: inline;
}

.market {
  font-size: 0px;
  padding-bottom: 71px;
}

.filter,
.goods-list {
  display: inline-block;
  vertical-align: top;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-title {
  padding: 8px 0 12px 18px;
  background-color: #f7f3ec;
  margin-bottom: 10px;
}

.filter-price {
  font-size: 0;
  border-bottom: 1px solid #f7f3ec;
  padding-bottom: 25px;
}

.filter-price span {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.filter-price .dash {
  font-weight: normal;
  margin: 0 8px;
}

.range {
  margin-top: 14px;
  margin-bottom: 9px;
  width: 220px;
  height: 80px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.scale {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 2px;
  background-color: #eaeae6;
  margin-top: 39px;
}

.bar {
  width: 140px;
  height: 2px;
  background-color: #94e3bc;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -9px;
  border-radius: 50%;
  background-color: #eaeae6;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 0 0 #eaeae6;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #94e3bc;
}

.toggle-min {
  left: -9px;
}

.toggle-max {
  left: 130px;
}

.filter-price input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 95px;
  padding: 8px 0 10px 0;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  border-radius: 3px;
}

.filter-vendors {
  padding-top: 18px;
  border-bottom: 1px solid #f7f3ec;
}

.filter-power {
  padding: 18px 0 67px 0;
}

.filter-vendors > span,
.filter-power > span {
  display: block;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.filter-vendors label,
.filter-power label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-left: 33px;
  cursor: pointer;
}

.filter-power label {
  font-size: 14px;
}

.filter-vendors .checkbox::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
  z-index: 10;
}

.filter-vendors .checkbox::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 12px;
  top: 0;
  left: 5px;
  box-shadow:
    inset 5px -5px 0 0  #c8c8c8,
    inset 0px -7px 0 0 #ffffff;
  border-radius: 2px;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
  z-index: 20;
  display: none;
}

input[type="checkbox"]:checked + .checkbox::before {
  display: block;
}

.filter-power .radio::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: -1px;
  left: 0;
  border: 4px solid #c8c8c8;
  border-radius: 50%;
  box-shadow: inset 0 0 0 5px #ffffff;
  z-index: 10;
}

input[type="radio"]:checked + .radio::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 4px;
  left: 5px;
  border-radius: 50%;
  background-color: #c8c8c8;
}

.checkbox:hover::before{
  box-shadow:
    inset 5px -5px 0 0  #bcbcbc,
    inset 0px -7px 0 0 #ffffff;
}

.checkbox:hover::after,
.radio:hover::after {
  border-color: #bcbcbc;
}

input[type="radio"]:checked + .radio:hover::before {
  background-color: #bcbcbc;
}

input[type="checkbox"]:disabled + .checkbox,
input[type="radio"]:disabled + .radio {
  opacity: 0.3;
}

.filter-vendors input,
.filter-power input {
  display: none;
}


input[name="show"] {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
  padding: 8px 38px 10px 38px;
  border: 1px solid #fafafa;
  border-radius: 3px;
}

input[name="show"]:hover {
  border-color: #f2f4f4;
}

.disabled {
  opacity: 0.4;
}

.goods-list {
  width: 700px;
}

.sort,
.pages {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.sort a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sort a:hover {
  color: rgba(0, 0, 0, 1);
}

.sort .active {
  color: #ee3643;
}

.sort {
  background-color: #f7f3ec;
  padding: 8px 0 12px 0;
  margin-bottom: 19px;
}

.sort span {
  margin-left: 18px;
}

.sort-price {
  margin-left: 137px;
}

.sort-type {
  margin-left: 70px;
}

.sort-function {
  margin-left: 62px;
}

.sort-up {
  margin-left: 45px;
  position: relative;
}

.sort-up::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}

.sort-up:hover::before {
  border-bottom: 10px solid rgba(0, 0, 0, 1);
}

.up-active::before {
  border-bottom: 10px solid #ee3643;
}

.sort-down {
  margin-left: 16px;
  position: relative;
}

.sort-down::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 14px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
}

.sort-down:hover::before {
  border-top: 10px solid rgba(0, 0, 0, 1);
}

.down-active::before {
  border-top: 10px solid #ee3643;
}

.goods-block article:nth-child(3n) {
  margin-right: 0px;
}

.pages ul {
  padding: 0;
  margin: 0;
  margin-top: 38px;
}

.pages li {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

.pages a {
  color: #000000;
  padding: 8px 15px 12px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.page:hover,
.next-page:hover {
  border: 1px solid #bdc6ca;
}

.page:active,
.next-page:active {
  border: 1px solid #ee3643;
}

.pages .active-page {
  border: 1px solid #ee3643;
  background-color: #ee3643;
  color: #ffffff;
}

.pages .next-page {
  padding: 8px 30px 12px 30px;
}

.about-section {
  background-color: #f2f6f8;
  padding: 65px 0 56px 0;
}

.about-section p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.about-section h2 {
  color: #000000;
  margin-bottom: 25px;
}

.quick-menu {
  font-size: 0px;
  margin-top: 60px;
  margin-bottom: 33px;
}

.quick-menu a {
  padding: 11px 0px 10px 0px;
  display: inline-block;
  vertical-align: top;
  width: 135px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 25px;
  font-size: 14px;
  line-height: 18px;
}

.quick-menu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.quick-menu a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.instruments,
.technics,
.sales,
.delivery,
.materials {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  position: relative;
}

.materials,
.instruments,
.slider {
  margin-right: 20px;
}

.sales-and-delivery {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.slider {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 620px;
  height: 266px;
  color: #ffffff;
  background-color: #a2968c;
}

.slide {
  position: relative;
  height: 266px;
  display: none;
}

.slide-title {
  display: block;
  font-size: 36px;
  line-height: 1;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  padding: 25px 310px 0px 24px;
}

.slide-text {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  margin: 0 310px 0 24px;
}

.quick-menu .btn-slider {
  position: absolute;
  bottom: 22px;
  background-color: #ee3643;
  width: 195px;
  border-radius: 3px;
}

.quick-menu .btn-slider:hover,
.btn-popular:hover,
.btn-credit:hover,
.btn-about:hover,
.btn-contact:hover {
  background-color: #ca2c37;
}

.quick-menu .btn-slider:active,
.btn-popular:active,
.btn-credit:active,
.btn-about:active,
.btn-contact:active {
  background-color: #ba2732;
}

.slide:nth-child(1) {
  background-image: url("../img/slider_perforators.jpg");
}

.slide:nth-child(2) {
  background-image: url("../img/slider_drills.jpg");
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  height: 10px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  z-index: 10;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.slider-controls .active {
  background-color: #ee3643;
}

#btn-slide-1:checked ~ .slides .slide:nth-child(1),
#btn-slide-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-slide-1:checked ~ .slider-controls label:nth-child(1),
#btn-slide-2:checked ~ .slider-controls label:nth-child(2) {
  background-color: #ee3643;
}

.arrow-left {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -13px;
  width: 28px;
  height: 28px;
  box-shadow:
    inset 4px 0 0 0px #ffffff,
    inset 0 4px 0 0 #ffffff;
  transform: rotate(-45deg);
  z-index: 10;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -13px;
  width: 28px;
  height: 28px;
  box-shadow:
    inset 4px 0 0 0px #ffffff,
    inset 0 4px 0 0 #ffffff;
  transform: rotate(135deg);
  z-index: 10;
  cursor: pointer;
}

.materials {
  background-color: #f6b22d;
}

.materials::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 46px;
  height: 70px;
  background: url("../img/sprite.png") no-repeat -177px -33px;
}

.instruments {
  background-color: #4aafde;
}

.instruments::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 27px;
  width: 77px;
  height: 63px;
  background: url("../img/sprite.png") no-repeat -92px -33px;
}

.technics {
  background-color: #cc79d1;
}

.technics::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 30px;
  width: 80px;
  height: 64px;
  background: url("../img/sprite.png") no-repeat -300px -33px;
}

.sales {
  background-color: #85d179;
}

.sales::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 61px;
  height: 74px;
  background: url("../img/sprite.png") no-repeat -231px -33px;
}

.delivery {
  background-color: #f6b22d;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 80px;
  height: 65px;
  background: url("../img/sprite.png") no-repeat -4px -33px;
}

.popular-goods-header,
.popular-vendors-header {
  margin-bottom: 20px;
  width: 887px;
  padding: 30px 25px 26px 28px;
  background-color: #f7f3ec;
  font-size: 0px;
}

.popular-goods-header h2,
.popular-vendors-header h2 {
  display: inline-block;
  vertical-align: top;
  width: 634px;

}

.btn-popular {
  display: inline-block;
  vertical-align: top;
  background-color: #ee3643;
  width: 253px;
  text-align: center;
  padding: 10px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  margin-top: -4px;
}

.popular-goods-main,
.popular-vendors-main {
  font-size: 0px;
}

.vendor-logo {
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  height: 145px;
  margin-right: 20px;
  border: 1px solid #f7f3ec;
  text-align: center;
  margin-bottom: 20px;
  line-height: 145px;
}

.vendor-logo:hover {
  box-shadow: 0 8px 35px -8px #555555;
}

.vendor-logo:active {
  box-shadow: 0 5px 15px -4px #555555;
  opacity: 0.3;
}

.vendor-logo img {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
  max-width: 218px;
  max-height: 145px;
}

article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 20px;
  border: 1px solid #f7f3ec;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.new::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background: url("../img/new_flag.png") no-repeat;
}

.image {
  width: 218px;
  height: 168px;
  line-height: 168px;
}

article img {
vertical-align: middle;
margin-left: -18px;
max-width: 218px;
max-height: 168px;
}

article h3 {
  margin: 10px 0 10px 0;
  padding: 0 25px;
}

.old-price {
  display: block;
  min-height: 20px;
  margin-bottom: 10px;
  text-decoration: line-through;
  color: #999999;
}

.price {
  display: block;
  position: relative;
  left: 5px;
  width: 80px;
  margin: 0 auto 21px;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
  cursor: pointer;
}

.price:after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: "";
  border: 19.2px solid #ffffff;
  border-left-color: #ee3643;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
}

article:hover .actions {
  display: block;
}

article:hover {
    box-shadow: 0 8px 35px -8px #555555;
}

article span {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

article a {
  font-size: 14px;
  line-height: 18px;
}

.buy,
.in-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
}

.in-bookmarks {
 width: 129px;
 padding: 7px 0;
 color: #63a63e;
 border: 3px solid #63a63e;
 background-color: #ffffff;
}

.in-bookmarks:hover {
  border: 3px solid #32425c;
  color: #32425c;
}

.in-bookmarks:active {
  border: 3px solid #32425c;
  color: #32425c;
  opacity: 0.3;
}

.buy {
  position: relative;
  box-shadow: inset 0 -3px 0 #367315;
}

.buy::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 16px;
  left: 10px;
  top: 10px;
  background: url("../img/sprite.png") no-repeat -5px -5px;
  opacity: 0.3;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:hover::before {
  opacity: 1;
}

.buy:active {
  background-color: #518534;
}

.popular-goods-main article:last-child,
.vendor-logo:nth-child(4n) {
  margin-right: 0;
}

.service {
  margin-top: 61px;
  font-size: 0px;
  background-color: #f2f6f8;
  padding: 65px 0 102px 0;
  margin-bottom: 80px;
}

.service h2 {
  color: #000000;
}

.service p {
  margin-top: 25px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 71px;
}

.service-content p {
  margin-bottom: 0;
  margin-top: 23px;
}

.service-menu {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  width: 320px;
}

.service-menu::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 272px;
  right: 80px;
  top: -45px;
  background: url("../img/shadow.png") no-repeat;
  z-index: 10;
}

.service-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 240px;
}

.service-menu li {
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #32425c;
  box-shadow:
    inset 0 1px 0px 0px #405069,
    inset 0 -1px 0px 0px #293449;
}

.service-menu label {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0 17px 21px;
  width: 219px;
  cursor: pointer;
}

.service input[type="radio"] {
  display: none;
}

#btn-service-1:checked ~ .service-content div:nth-child(1),
#btn-service-2:checked ~ .service-content div:nth-child(2),
#btn-service-3:checked ~ .service-content div:nth-child(3) {
  display: block;
}

#btn-service-1:checked ~ .service-menu li:nth-child(1),
#btn-service-2:checked ~ .service-menu li:nth-child(2),
#btn-service-3:checked ~ .service-menu li:nth-child(3) {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.service-menu li:hover {
  background-color: #293449;
}

.service-content {
  display: inline-block;
  vertical-align: top;
  width: 620px;
}

.delivery-description {
  position: relative;
  width: 275px;
  display: none;
}

.delivery-description::after {
  position: absolute;
  content: "";
  width: 488px;
  height: 261px;
  left: 152px;
  top: 20px;
  background: url("../img/track.png") no-repeat;
  z-index: 10;
}

.quarantee-description {
  position: relative;
  width: 380px;
  display: none;
}

.quarantee-description::after {
  position: absolute;
  content: "";
  width: 389px;
  height: 280px;
  left: 240px;
  top: 0px;
  background: url("../img/guarantee.png") no-repeat;
  z-index: 10;
}

.credit-description {
  position: relative;
  width: 285px;
  display: none;
}

.btn-credit {
  display: inline-block;
  vertical-align: top;
  background-color: #ee3643;
  width: 195px;
  text-align: center;
  padding: 10px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  margin-top: 25px;
}

.credit-description::after {
  position: absolute;
  content: "";
  width: 465px;
  height: 280px;
  left: 183px;
  top: 0px;
  background: url("../img/credit.png") no-repeat;
  z-index: 10;
}

.about-us {
  font-size: 0px;
  padding-bottom: 86px;
}

.about-us h2 {
  color: #000000;
  margin-bottom: 26px;
}

.about-us p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 23px;
}

.about-us a {
  font-size: 14px;
}

.about-company,
.contacts-main {
  display: inline-block;
  vertical-align: top;
}

.about-company ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-company li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 19px;
  padding-left: 35px;
}

.about-company li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-company {
  width: 640px;
}

.contacts-main {
  width: 300px;
}

.contacts-main img {
  background-color: #f1efe8;
  cursor: pointer;
  max-width: 300px;
  max-height: 158px;
}

.btn-about,
.btn-contact {
  display: inline-block;
  vertical-align: top;
  background-color: #ee3643;
  width: 220px;
  text-align: center;
  padding: 11px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  margin-top: 18px;
}

.contacts-main p {
  margin-bottom: 32px;
}

.btn-contact {
  width: 300px;
  margin-top: 31px;
}

footer {
  font-size: 0px;
}

.navigation-footer {
  background-color: #32425c;
  min-height: 193px;
}

.logo-footer,
.contacts-footer {
  display: inline-block;
  vertical-align: top;
  width: 337px;
}

.logo-footer h2 {
  color: #ffffff;
  font-weight: bold;
  width: 220px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
  padding: 17px 0;
}

.contacts-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  margin-top: 0px;
}

footer ul,
footer li {
  display: inline-block;
  vertical-align: baseline;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
}

footer li:hover {
  text-decoration: underline;
}

footer li:active {
  opacity: 0.3;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0px;
  width: 603px;
  margin-top: 18px;
}

.footer-navigation-top ul {
  margin-top: 38px;
}

footer li {
  padding-left: 58px;
}

.footer-navigation-top,
.footer-navigation-bottom {
  text-align: right;
}

.footer-navigation-bottom {
  padding-top: 11px;
}


.footer-navigation-bottom a {
  color: #ffd180;
}

.main-footer {
  background-color: #293449;
  min-height: 68px;
  padding-top: 37px;
  color: #ffffff;
}


.trademark,
.social,
.feedback,
.desined {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.trademark {
  width: 230px;
  color: #ffffff;
}

.social {
  width: 410px;
  text-align: center;
}

.social a {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  left: 20px;
  top: -7px;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-left: 2px;
}

.social a:hover {
  background-color: #ee3643;
}

.vk {
  background: url("../img/sprite.png") no-repeat -180px 10px;
}

.fb::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 20px;
  top: 10px;
  left: 15px;
  background: url("../img/sprite.png") no-repeat -56px -5px;
}

.inst::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 20px;
  top: 12px;
  left: 12px;
  background: url("../img/sprite.png") no-repeat -76px -5px;
}

.feedback {
  width: 190px;
}

.desined {
  width: 110px;
}

.feedback a,
.desined a {
  color: #ffd180;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active {
  color: #d43644;
  text-decoration: none;
}

.write-us {
  position: fixed;
  bottom: 50%;
  left: 50%;
  width: 460px;
  height: 375px;
  margin-bottom: -187px;
  margin-left: -310px;
  padding: 55px 80px 0px 80px;
  background-color: #ffffff;
  box-shadow:
    inset 0 5px 0 0 #ee3643,
    0 5px 35px 0 #333333;
  font-size: 0px;
  display: none;
  z-index: 30;
}

.write-us label {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
}

.write-us label:nth-child(1) {
  width: 240px;
}

.write-us label:nth-child(2) {
  width: 220px;
}

.write-us input[type="text"] {
  width: 203px;
  height: 33px;
  border: 2px solid #eff1f2;
  margin-bottom: 20px;
  margin-top: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 13px;
  border-radius: 3px;
  outline: none;
}

input[name="name"] {
  margin-right: 20px;
}

textarea {
  width: 441px;
  height: 110px;
  border: 2px solid #eff1f2;
  margin-top: 11px;
  margin-bottom: 37px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 13px;
  padding-top: 5px;
  resize: none;
  border-radius: 3px;
  outline: none;
}

.submit {
  width: 100%;
  padding: 37px 80px;
  background-color: #f1f1f1;
  margin-left: -80px;
}

.submit button {
  width: 460px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  padding: 11px 0 9px 0;
}

.submit button:hover {
  background-color: #ca2c37;
}

.submit button:active {
  background-color: #ca2c37;
}

.write-us-close,
.map-close,
.add-close {
  position: absolute;
  top: 16px;
  right: 9px;
  width: 24px;
  height: 24px;
  font-size: 0;
  cursor: pointer;
}

.write-us-close::before,
.write-us-close::after,
.map-close::before,
.map-close::after,
.add-close::before,
.add-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 4px;
  width: 19px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 1px;
}

.write-us-close::before,
.map-close::before,
.add-close::before {
  transform: rotate(45deg);
}

.write-us-close::after,
.map-close::after,
.add-close::after {
  transform: rotate(-45deg);
}

.map {
  position: fixed;
  width: 940px;
  height: 446px;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -470px;
  display: none;
  z-index: 30;
}

.add {
  position: fixed;
  bottom: 50%;
  left: 50%;
  width: 460px;
  height: 227px;
  margin-bottom: -141px;
  margin-left: -310px;
  padding: 55px 80px 0px 80px;
  background-color: #ffffff;
  box-shadow:
    inset 0 5px 0 0 #ee3643,
    0 5px 35px 0 #333333;
  display: none;
  z-index: 30;
}

.add span {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 72px;
}

.sign {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #63a63e;
  float: left;
}

.sign::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 22px;
  top: 17px;
  left: 14px;
  box-shadow:
    inset 8px -8px 0 0 #ffffff;
  transform: rotate(-45deg);
}

.add-bottom {
  width: 100%;
  padding: 37px 80px;
  background-color: #f1f1f1;
  margin-left: -80px;
  font-size: 0px;
}

.add-bottom a:first-child {
  display: inline-block;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 11px 0 9px 0;
  text-align: center;
  margin-right: 20px;
}

.add-bottom a:last-child {
  display: inline-block;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 11px 0 9px 0;
  text-align: center;
}

.display-block {
  display: block;
}

.animation {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes move {
  from {
    transform: translateX(1000px);
  }
  to {
      transform: translateX(0px);
  }
}

@keyframes move {
  from {
    transform: translateX(1000px);
  }
  to {
      transform: translateX(0px);
  }
}
